{% extends base_page %}
{% block title%} Change Password {% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}


<div class="container col-6" style="margin-left:10%;">
    <br><br><br>
    <form enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        {% include 'horizontal_form.html' %}
        <button type="submit" class="btn btn-primary" style="float:right;"> change my password</button>
    </form>
    <br><br><br>
</div>
{% endblock %}