{% extends 'manager_base_site.html'%}
{% block title%}delete vehicle{% endblock %}
{% block content %}
<br>
<div class="col-sm-8" style="margin-left:100px;">

    <h3>Are you sure?</h3><br>

    <h5>Are you sure you want to delete the vehicle type {{this_vehicle.name}}?</h5>
    <br><br><br>
    <a class="btn btn-danger" href="{% url 'delete_vehicle_done' this_vehicle.id  %}" style="margin-left:15px;">Yes,I'm
        sure</a>
    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}" style="margin-left:15px;">No, take me back</a>
</div>
{% endblock %}