{% extends 'manager_base_site.html' %}
{% block title%}Item sell list{% endblock %}


{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="row">

    <div class="container col-4" style="margin-left: 30%;">
        <form enctype="multipart/form-data" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <table class="form-error">
                {% for error in form.non_field_errors%}
                <tr>
                    <td><b> {{ error}}</b></td>
                </tr>
                {% endfor %}
            </table>
            <br>
            {% endif %}


            {% for field in form.visible_fields %}
            <table style="width:100%; margin-top:0px;">
                <tr>
                    <td style="width:20%;" align="center">
                        <strong>{{ field.label_tag }}</strong>
                    </td>
                    <td style="width:55%; vertical-align: top;">
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for  error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}

                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field field class="form-control" %}
                        {% endif %}


                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </td>
                    <td style="width:25%; vertical-align: top; float:center">
                        <button type="submit" class="btn btn-primary"> view</button>
                    </td>
                </tr>
            </table>
            {% endfor %}


        </form>
    </div>
    <div class="container col-3">
        <a class="btn btn-success" href="{% url 'new_sell'  %}"
            style="float: right; width: 200px;margin-bottom: 10px;">new
            sell</a>
    </div>
</div>

<div class="col-sm-12" style="margin-top: 10px;">
    {% if not sell_list%}
    <div class="col-sm-8" style="margin-left:5%;">
        <h3>no item sell</h3>
    </div>
    {% else %}
    <h4>{{date}} item sell list</h4>
    <table class="table table-striped">
        <thead class="table-info">
            <tr>
                <th><strong>part number</strong></th>
                <th><strong>item</strong></th>
                <th><strong>quantity</strong></th>
                <th><strong>unit price</strong></th>
                <th><strong>total price</strong></th>
                <th><strong>seller</strong></th>
                <th><strong>date</strong></th>
                <th><strong>vat</strong></th>
                <th><strong></strong></th>
            </tr>
        </thead>
        {% for i in sell_list %}
        <tr>
            <td>{{i.item.part_number}}</td>
            <td>{{i.item.name}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.selling_price}}</td>
            <td>{{i.total_price}}</td>
            <td>{{i.seller}}</td>
            <td>{{i.date}}</td>
            <td>
                {% if i.vat %}
                <label style="color: red"><strong>Yes</strong></label>
                {% else %}
                <label>No</label>
                {% endif %}
            </td>
            <td style="float:right;">
                <a href="{% url 'edit_sell' i.id %}" style="margin-left: 8px;" title="edit"> <img
                        src="{% static 'Images/icons/edit.png' %}" height="20" width="20"></a>
                <a href="{% url 'delete_sell' i.id %}" style="margin-left: 8px;" title="delete"> <img
                        src="{% static 'Images/icons/delete.png' %}" height="20" width="20"></a>
            </td>
        </tr>


        {% endfor %}
        <tr>
            <td><strong>Summary</strong> </td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{total_cost}}</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <a class="butt" href="{% url 'sell_search_by_date' %}" style="float:right;  margin-left: 3%;">search by date</a>
    <a class="butt" href="{% url 'item_sell_list' 'This Year' %}" style="float:right;  margin-left: 3%;">This year</a>
    <a class="butt" href="{% url 'item_sell_list' 'This Month' %}" style="float:right;  margin-left: 3%;">This month</a>
    <a class="butt" href="{% url 'item_sell_list' 'This Week' %}" style="float:right;  margin-left: 3%;">This Week</a>
    <a class="butt" href="{% url 'item_sell_list' 'Yesterday' %}" style="float:right;  margin-left: 3%;">Yesterday</a>
    <a class="butt" href="{% url 'item_sell_list' 'Today' %}" style="float:right;  margin-left: 3%;">Today</a>

    {% endif %}

</div>


{% endblock %}